<div class="container">
   <div class="row">
     <div class="col-md-12 " style="margin-top:20px;">
        <table class="table table-hover mt-10">
            <thead>
              <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active" *ngFor="let item of allContacts; let i = index;">
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.firstName}}</td>
                  <td>{{item.lastName}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone}}</td>
                  <td>
                    <a (click)="removeFormList(item.id, i)">Delete</a>
                    &nbsp; &nbsp;
                    <a [routerLink]="[ '/edit-contact', item.id ]">Edit</a>
                  </td>

                </tr>
            </tbody>
          </table>
     </div>
   </div>
</div>
